<!DOCTYPE html>
<html>
  <head <%- head.htmlAttributes.toString() %>
    >
    <meta charset="utf-8" />
    <%- head.title.toString() %>
    <%- head.meta.toString() %>
    <%- head.link.toString() %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="<%= urlPrefix %>/public/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/github-markdown-css/2.2.1/github-markdown.css"
    />
    <link rel="stylesheet" href="<%= style %>" />
    <style type="text/css">
      @keyframes loading {
        0% {
          filter: blur(8px);
          color: #cec;
          text-shadow: #9b9 0px 0px 200px;
        }

        100% {
          filter: blur(0px);
          color: #9b9;
          text-shadow: #9b9 0px 0px 0px;
        }
      }

      #loading-screen {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 32pt;
        font-variant: small-caps;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        line-height: 100vh;
        z-index: 100;
        opacity: 0.95;
        overflow: hidden;
        color: #9b9;
        background-color: #f4fff4;
        animation: loading 1s;
      }

      body.loading {
        position: fixed;
        overflow: hidden !important;
      }

      body.loading * {
        z-index: 0;
        overflow: hidden !important;
      }

      .main-header .sidebar-toggle:before {
        filter: invert(100%);
        content: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBkPSJNMTYgMTMyaDQxNmM4LjgzNyAwIDE2LTcuMTYzIDE2LTE2Vjc2YzAtOC44MzctNy4xNjMtMTYtMTYtMTZIMTZDNy4xNjMgNjAgMCA2Ny4xNjMgMCA3NnY0MGMwIDguODM3IDcuMTYzIDE2IDE2IDE2em0wIDE2MGg0MTZjOC44MzcgMCAxNi03LjE2MyAxNi0xNnYtNDBjMC04LjgzNy03LjE2My0xNi0xNi0xNkgxNmMtOC44MzcgMC0xNiA3LjE2My0xNiAxNnY0MGMwIDguODM3IDcuMTYzIDE2IDE2IDE2em0wIDE2MGg0MTZjOC44MzcgMCAxNi03LjE2MyAxNi0xNnYtNDBjMC04LjgzNy03LjE2My0xNi0xNi0xNkgxNmMtOC44MzcgMC0xNiA3LjE2My0xNiAxNnY0MGMwIDguODM3IDcuMTYzIDE2IDE2IDE2eiIvPjwvc3ZnPg==);
        width: 0.8em;
        height: auto;
        display: inline-block;
      }
    </style>
  </head>

  <body class="loading" style="height: auto">
    <div id="loading-screen">
      <%= ((new Date()).getMonth() === 3 && (new Date()).getDate() === 1) ? 'Loudím' : 'Loading' %>...
    </div>

    <div id="root">
      <%- html %>
    </div>
    <% if (reduxState) { %>
    <script>
      window.__INITIAL_STATE__ = <%- reduxState %>;
    </script>
    <% } %>

    <script>
      window.__RECODEX_CONFIG__ = <%- config %>;
    </script>
    <script src="<%= bundle %>"></script>

    <script>
      document.getElementById('loading-screen').remove();
//      document.body.className = "<%- skin ? skin : 'skin-green' %> fixed";
      document.body.className = "sidebar-mini layout-fixed layout-navbar-fixed";
    </script>
  </body>
</html>
