<!DOCTYPE html>
<html>

<head <%- head.htmlAttributes.toString() %>>
  <meta charset="utf-8">
  <%- head.title.toString() %>
    <%- head.meta.toString() %>
      <%- head.link.toString() %>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="/public/favicon.ico" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
        <link rel="stylesheet" href="<%= style %>">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
          crossorigin="anonymous">

        <style type="text/css">
          @keyframes loading {
            0% {
              filter: blur(8px);
              color: #cec;
              text-shadow: #9b9 0px 0px 200px;
            }
            100% {
              filter: blur(0px);
              color: #9b9;
              text-shadow: #9b9 0px 0px 0px;
            }
          }

          #loading-screen {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 32pt;
            font-variant: small-caps;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            line-height: 100vh;
            z-index: 100;
            opacity: 0.95;
            overflow: hidden;
            color: #9b9;
            background-color: #f4fff4;
            animation: loading 1s;
          }

          body.loading {
            position: fixed;
            overflow: hidden !important;
          }

          body.loading * {
            z-index: 0;
            overflow: hidden !important;
          }

          .main-header .sidebar-toggle:before {
            font-family: "Font Awesome 5 Free" !important;
            font-style: normal;
            font-weight: 900;
            content: '\f0c0';
          }

        </style>
</head>

<body class="loading">
  <div id="loading-screen">
    <%= ((new Date()).getMonth() === 3 && (new Date()).getDate() === 1) ? 'Loudím' : 'Loading' %>...
  </div>

  <div id="root">
    <%- html %>
  </div>
  <% if (reduxState) { %>
    <script>
      window.__INITIAL_STATE__ = <%- reduxState %>;

    </script>
    <% } %>

      <script src="<%= bundle %>"></script>

      <script>
        document.getElementById('loading-screen').remove();
        document.body.className = "<%- skin ? skin : 'skin-green' %> fixed";

      </script>

</body>

</html>
